.rounded-box
  %h2 Assign unsubscribe voice number 
  -if @voice_numbers.empty?
    %h3 Sorry, no voice numbers currently available.
  -else
    %form{action: '/unsubscribe_numbers/create', method: 'post'}
      %label Please select the region for the new unsubscribe number
      =haml :select_region
      %hr
      %button{type: 'submit'} Assign


