<html>
  <%= erb :includes %>
  <body>
    <%= erb :logoHeader %>
    <div class="content">
      <div id="menu">
        <div id="campaign-selector">
          <select class="campaign-select" data-placeholder="Choose a campaign">
            <option value=""></option>
            <% for @campaign in @campaigns %>
              <option value=<%= @campaign.id %>><%= @campaign.title %></option>
            <% end %>
          </select>
        </div>
        <div id="new-campaign">
          <form action="/campaign/new" method="get" >
            <button>New Campaign</button>
          </form>
        </div>
      </div>
      <div id="campaign"></div>
    </div>
  </body>
</html>
