.rounded-box
  -if @campaign.triggered_ask?(@ask)
    %h2 Edit Auto-response Message
  -else
    %h2 Edit Ask
  %form{action: "/campaign/#{@campaign.id}/asks/#{@ask.id}/update", method: 'post'}
    -unless @campaign.triggered_ask?(@ask)
      %h3 Enter a short name for your ask
      %input.title-input{type: 'text', name: 'ask[title]', value: @ask.title}
    %h3 Add messages below to segment your ringers
    #filtered-messages
      -@ask.message.nondefault_messages.each_with_index do |fm, i|
        =haml :filtered_message_template, locals: {tags: fm.tag_filter.constraints, id: i, message: fm.message_text, ask_type: 'sdf'}
    %button#new-filter-button{type: 'button', onclick: "window.addFilter();"} Add Message
    
    -if @ask.class.typesym == :voicemail_ask
      #voice-prompt
        %h3 What should the ringer hear when they call?
        %textarea.msg-text-area{name: 'ask[prompt]', placeholder: 'Please leave a message of peace after the beep'}=@ask.prompt
    %button{type:'submit'} Update Ask
  %form{action: "/campaigns##{@campaign.id}", method: 'get'}
    %button « Back

  #original-filtered-message-template-container{style: 'display:none'}
    =haml :filtered_message_template
