<div class="campaign-preview">
  <a href="/campaigns#<%= @campaign.phone_number %>"><h1><%= @campaign.title %></h1></a>
  <h2><%= @campaign.pretty_phone_number %></h2>
  <h2><%= @campaign.supporters.count %> Supporters</h2>
</div>