-color||='blue'
#progress{class: color}
  #progress-outer
    #progress-inner{style: "height: 100%; width: #{5+(campaign.ringers.count / 200.0) * 100}%;"}
      .count= campaign.ringers.count
    .goalcount="200"

