#new-campaign.rounded-box
  %h2=  "Campaign Settings for #{@title}"
  %form{action: '/campaign/create/sms_back', method: 'post'}
    %input{type: 'hidden', name: 'campaign[title]', value: @title}
    %input{type: 'hidden', name: 'campaign[goal]', value: @goal}
    %h3
      SMSes for this campaign will be sent from
      %b= pretty_phone_number(@sms_number)
    %hr
    -@number_summary.each do |entry|
      =haml :assign_voice_number, locals: {number: entry}
      %h3 Add a response sms for callers of this number
      %textarea.msg-text-area{name: 'sms_responses[]', placeholder: 'Thank you for calling to support us'}
      %hr        
    %input{type: 'hidden', name: 'campaign[sms_number]', value: @sms_number}
    %button{type: 'submit'}
      Complete Campaign Creation
