<div id="supporters">
  <h2><div class="count"><%= @num_supporters %> Supporter<% if @num_supporters != 1 %>s<% end %></div></h2>
  <% if @supporters.empty? %>
    <ul class="supporters"></ul>
  <% else %>
    <ul class="supporters">
      <% for @supporter in @supporters %>
        <li><%= @supporter %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<h2>Broadcast</h2>
<form action="/broadcast" method="post">
  <textarea name="message" rows="4" cols="20">Hello supporters!</textarea>
  <input type="hidden" name="number" value="<%= params[:number] %>" /><br />
  <input type="submit" value="Broadcast!" />
</form>