#new-campaign.rounded-box
  %h2 New Campaign
  -if @numbers.empty?
    %h3 Sorry, all numbers are currently in use
  -else
    %form{action: '/campaign/create', method: 'post'}
      .field
        %label Title:
        %input.title-input{type: 'text', name: 'campaign[title]'}
      .field
        %label Phone Number:
        %select{name: 'campaign[assigned_phone_numbers][]'}
          -@numbers.each do |n|
            %option #{n}
      %h3 Introductory Message
      #filtered-messages
      %button#new-filter-button{type: 'button', onclick: "window.addFilter();"} Add filtered message
      .field
        %label Default Message:
        %textarea.msg-text-area{name: 'campaign[introductory_response][default_message]', placeholder: 'Thanks for supporting...'}
      %button{type: 'submit'} Create
%a{href: '/'} 
  %button « Back to Home 

#original-filtered-message-template-container{style: 'display:none'}
  =haml :filtered_message_template 
