.rounded-box
  %h2 Add new asks
  %form{action: "/campaign/#{@campaign.id}/asks/create", method: 'post'}
    %h3 Enter a short name for your ask
    %input.title-input{type: 'text', name: 'title'}
    %h3 What type of ask is this?
    %select.ask-type{name: "ask_type"}
      %option{value:"", selected: 'selected', disabled:"disabled"} Select an ask type
      -@ask_type. each do |type|
        -type_view = type.readable_name
        %option{value: "#{type.typesym}"}= "#{type_view}"
    %h3 Enter the text supporter will receive to prompt the ask.
    #filtered-messages
      %button#new-filter-button{type: 'button', onclick: "window.addFilter();"} Add filtered message
      .field
        %textarea.msg-text-area{name: 'campaign[message][default_message]', placeholder: 'Thanks for supporting...'}
    %button{type:'submit'} Add new ask
  %form{action: '/campaigns##{@campaign.id}', method: 'get'}
    %button « Back
    #original-filtered-message-template-container{style: 'display:none'}
      =haml :filtered_message_template 

%script{type: 'text/coffeescript', src: '/javascript/ask_new.coffee'}
