.rounded-box
  %h2= "Assign Voice Number for #{@campaign.title}"
  %form{action: "/campaign/#{@campaign.id}/voice_numbers/create", method: 'post'}
    -if @voice_numbers.empty?
      %h3 Sorry, no voice numbers currently available.
    -else 
      .field
        %label Description (Please less than 50 characters):
        %input.title-input{type: 'text', name: 'description', placeholder: 'Billboard, Radio, ...'}
      .field
        %label Please select a region for the new voice number.
        =haml :select_region

    %button.assign-button{type: 'submit'} Assign
  %hr
  %form{action: "/campaigns##{@campaign.id}", method: 'get'}
    %button « Back to campaign page
