#new-campaign.rounded-box
  %h2 New Campaign
  -if @numbers.empty?
    %h3 Sorry, all numbers are currently in use
  -else
    %form{action: '/campaign/create', method: 'post'}
      .field
        %label Title:
        %input.title-input{type: 'text', name: 'title'}
      .field
        %label Phone Number:
        %select{name: 'phone_numbers_to_assign[]'}
          -@numbers.each do |n|
            %option #{n}
      %button{type: 'submit'} Create
      %a{href: '/'} 
        %button « Back to Home 

