#new-campaign.rounded-box
  %h2 Edit Campaign
  %form{action: "/campaign/#{@campaign.id}/update", method: 'post'}
    .field
      %label 
        Title:
        =@campaign.title
    .field
      %label Phone Number:
      %select{name: 'phone_numbers_to_assign[]'}
        -@numbers.each do |n|
          -if @campaign_numbers.include? n
            %option{selected: 'selected'} #{n}
          -else
            %option #{n}
    %h3 Introductory Message
    #filtered-messages
      -@campaign.introductory_response.nondefault_messages.each_with_index do |fm, i|
        =haml :filtered_message_template, locals: {tags: fm.tag_filter.tags, message: fm.message, id: i }
    %button#new-filter-button{type: 'button', onclick: "window.addFilter();"} Add filtered message
    .field
      %label Default Message:
      %textarea.msg-text-area{name: 'default_message', placeholder: 'Thanks for supporting...'}
        =@campaign.introductory_response.default_message
    %button{type: 'submit'} Update
%a{href: "/campaigns##{@campaign.id}"} 
  %button « Back to dashboard

#original-filtered-message-template-container{style: 'display:none'}
  =haml :filtered_message_template 

