<html>
  

  <body>

    <%= erb :logoHeader %>
    
    <div class="content">
      <h2>New Campaign</h2>
      <% if @numbers.empty? %>
       <h3> Sorry, all numbers are currently in use </h3>
      <% else %>
        <form action="/campaign/create" method="post">
          <label>Title:</label>
            <input type="text" name="title" />
          
          <label>Phone Number:</label>
            <select name="phone_number">
              <% for @number in @numbers %>
          	   <option><%= @number %></option>
          	  <% end %>
          	</select>
          <button type="submit">Create</button>
        </form>
      <% end %>
    <br/>
      <a href="/">back to home</a>
    </div>

  </body>
</html>

