.rounded-box
  %h2 Add new asks
  %h3 What type of ask is this?
  %form{action: "/campaign/#{@campaign.id}/asks/new ", method: 'post'}
    %select.ask-type{name: "ask_type"}
      %option{value:"", selected: 'selected', disabled:"disabled"} Select an ask type
      -@ask_type. each do |type|
        -type_view = type.readable_name
        %option{value: "#{type.typesym}"}= "#{type_view}"
    %h3 Enter the text supporter will receive to prompt the ask.
    #filtered-messages
      %button#new-filter-button{type: 'button', onclick: "window.addFilter();"} Add filtered message
      .field
        %textarea.msg-text-area{name: 'campaign[message][default_message]', placeholder: 'Thanks for supporting...'}
    #selected-ask-type
    %h3 What triggers this ask?
    %div
      %input{type: 'radio', name:'[triggered_by]', id: 'user', value: 'user', checked: 'checked'}
      %label{for: 'user'}  The Campaigner (that's you!)
    %div
      %input{type: 'radio', name:'[triggered_by]', id: 'ask', value: 'previous'}
      %label{for: 'ask'} The Previous Event
    %button{type:'submit'} Add new ask
  %form{action: '/campaigns##{@campaign.id}', method: 'get'}
    %button « Back
    #original-filtered-message-template-container{style: 'display:none'}
      =haml :filtered_message_template 

%script{type: 'text/coffeescript', src: '/javascript/ask_new.coffee'}
