-color||='blue'
#progress{class: color}
  #progress-outer
    #progress-inner{style: "height: 100%; width: #{5+(campaign.ringers.count / campaign.goal.to_f) * 100}%;"}
      .count= campaign.ringers.count
    .goalcount=campaign.goal

