#new-campaign.rounded-box
  %h2 New Campaign
  -if @numbers.empty?
    %h3 Sorry, all numbers are currently in use
  -else
    %form{action: '/campaign/create', method: 'post'}
      .field
        %label Title:
        %input.title-input{type: 'text', name: 'title'}
      .field
        %label Phone Number:
        %select{name: 'phone_numbers_to_assign[]'}
          -@numbers.each do |n|
            %option #{n}
      %h3 Introductory Message
      #filtered-messages
      %button#new-filter-button{type: 'button'} Add filtered message
      .field
        %label Default Message:
        %textarea.msg-text-area{name: 'default_message', placeholder: 'Thanks for supporting...'}
      %button{type: 'submit'} Create
%a{href: '/'} 
  %button « Back to Home 


.filtered-message-template.original{style: 'display:none'}
  %select.filter-type
    %option Area Code
    %option Country
  %input.tag_name{type: 'text'}
  %button#add-tag-button{type: 'button'} Add
  #tag-filters
  %input{name: 'filtered_messages[]tags', type: 'hidden', value:''}
  %textarea.msg-text-area{name: 'filtered_messages[]message', placeholder: 'Thanks for supporting...'}

