-id ||= nil
-option_name = id.nil? ? 'OPTION' : "ivr[#{id}][for]"
-key_name = id.nil? ? 'KEY' : "ivr[#{id}][press]"
-option ||= ''
.ivr-key-option-template
  ="Key" 
  %input{type: 'text',  name: key_name, placeholder: '1234567890#*'}
  %input{type: 'text', name: option_name}
    =option
  %button#remove-key-option{type:'button', onclick: "window.removeKeyOption($(this));"} Remove