%script{type: 'text/javascript'}
  window.numbers = $.parseJSON('#{@voice_numbers.to_json}')

#new-campaign.rounded-box
  %h2 New Campaign
  -if @voice_numbers.empty?
    %h3 Sorry, no SMS numbers currently available.
  -else
    %form{action: '/campaign/new/configure', method: 'get'}
      .field
        %h3 Title your campaign:
        %input.title-input{type: 'text', name: 'campaign[title]'}
      .field
        %h3 Set a goal for your campaign:
        %p This is the number of people you expect to ring all of your numbers
        %input.goal-input{type: 'text', name: 'campaign[goal]'}
      .field
        %h3 Select a region for each voice number
        #selected-regions
        .region-select
          =haml :select_region
      .field
        %h3 Select the initial ask
        %div
          %input{type: 'radio', name:'init_ask', id: 'missed_call', value: 'missed_call', checked: 'checked'} 
          %label{for: 'missed_call'} Missed call only (FREE)
        %div
          %input{type: 'radio', name:'init_ask', id: 'sms_back', value: 'sms_back'}
          %label{for: 'sms_back'} Missed call with SMS back
        %div
          %input{type: 'radio', name:'init_ask', id: 'double_opt_in', value: 'double_opt_in'}
          %label{for: 'double_opt_in'} Double opt in
      %hr
      %button{type: 'submit'} Start creating campaign
    
#original-filtered-message-template-container{style: 'display:none'}
  =haml :filtered_message_template 

%script{type: 'text/coffeescript', src: '/javascript/campaign_new.coffee'}

