.rounded-box
  #filter-options{style: 'display:none'}
  -@all_fields.each do |field|
    %li
      %input{type: 'checkbox', name: "fields[#{field.id}]", value: 'yes', checked:field.default? && 'checked'}= field.display_name
  %hr  
  %button{type: 'submit'} Export

