-tags ||= []
-id ||= nil
-message ||= ''
-msg_name = id.nil? ? 'MESSAGE' : "campaign[message][filtered_messages][#id}][message_text]"
.filtered-message-template
  %input{type: 'radio', name: 'CONSTRAINT_TYPE', value: 'has', id: 'has', checked: 'checked'}
  %label{for: 'has'} has
  %input{type: 'radio', name: 'CONSTRAINT_TYPE', value: 'has_not', id: 'has_not'}
  %label{for: 'has_not'} has not
  %select.tag-name{'data-placeholder' => 'Select a constraint'}
    %option

  #tag-filters
    -tags.each do |tag|
      %div
        =tag
        %input{type: 'hidden', name: "campaign[message][filtered_messages][#{id}]constraints[]", value: "#{tag}"}
        %button{type: 'button', onclick: 'window.removeTag($(this));'} Remove
  %textarea.msg-text-area{name: msg_name, placeholder: 'Thanks for supporting...'}
    =message
  %button#remove-filter-button{type: 'button', onclick: "window.removeFilter($(this));"} Remove
