-tags ||= []
-id ||= nil
-message ||= ''
-msg_name = id.nil? ? 'MESSAGE' : "campaign[introductory_response][filtered_messages][#{id}][message]"
.filtered-message-template
  Add tag:
  %input.tag-name{type: 'text'}
  %a{href: '/tags/new'}new tag

  #tag-filters
    -tags.each do |tag|
      %div
        =tag
        %input{type: 'hidden', name: "campaign[introductory_response][filtered_messages][#{id}]tags[]", value: "#{tag}"}
        %button{type: 'button', onclick: 'window.removeTag($(this));'} Remove
  %textarea.msg-text-area{name: msg_name, placeholder: 'Thanks for supporting...'}
    =message
  %button#remove-filter-button{type: 'button', onclick: "window.removeFilter($(this));"} Remove

