#new-campaign
  %form{action: '/campaign/new', method: 'get'}
    %button New Campaign
  .rounded-box
    %h3 Unsubscribe Numbers
    %p When called, these numbers unsubscribe the caller from all future communications.
    -@unsubscribe_numbers.each do |n|
      = haml :unsubscribe_number, locals: {number: n}
    %form{action: '/unsubscribe_numbers/new', method: 'get'}
      %button Add Another
    %h3= "Total Unsubscribes: #{@unsubscribed_count}"
  %h2 Campaigns
  -if @campaigns.empty?
    No campaigns currently running
  -else
    -@campaigns.each do |campaign|
      = haml :campaign_preview, locals: {campaign: campaign}
