#options
  #new-campaign
    %form{action: '/campaign/new', method: 'get'}
      %button New Campaign
  #export-csv
    %form{action: '/export_csv', method:'get'}
      %button Export all supporters
%h2 Campaigns
.campaign-previews
  -if @campaigns.empty?
    No campaigns currently running
  -else
    -@campaigns.each_with_index do |campaign, i|
      .campaign-preview{class: i.even? ? nil : :gray}
        = haml :campaign_preview, locals: {campaign: campaign}
%h2 Voice Unsubscribe
.rounded-box
  %p For a user to unsubscribe, they can call:
  -@unsubscribe_numbers.each do |n|
    = haml :unsubscribe_number, locals: {number: n}
  %form{action: '/unsubscribe_numbers/new', method: 'get'}
    %hr
    %button Add Another
  %h3= "Total Unsubscribes: #{@unsubscribed_count}"
%h2 Aggregate Campaigns
.rounded-box
  
  -@aggregate_campaigns.each do |agg_camp|
    =haml :aggregate_campaign_preview, locals: {aggregate_campaign: agg_camp}
  .note Use these names in the Purpose Platform to sync the ringer count
  .note Please put "https://campaign.crowdring.org" as Crowdring URL in Purpose Platform.
  %form{action: '/aggregate_campaigns/new', method: 'get'}
    %hr
    %button New Aggregate Campaign
