<html>
  <%= erb :includes %>
  <body>
    <%= erb :logoHeader %>
      <div id="new-campaign">
        <form action="/campaign/new" method="get" >
          <button>New Campaign</button>
        </form>
      </div>
    <div class="content">
      <% for @campaign in @campaigns %>
        <%= erb :campaign_preview %>
      <% end %>

    </div>
  </body>
</html>
