<header>
  <title>CROWDRING</title>
  <a href='/'><img class="logo" src="/crowdringlogo.png"  /></a>
  <a href='/'><h1>CROWDRING</h1></a>
</header>

<% if flash.has?(:notice) %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash.has?(:errors) %>
  <div class="errors"><%= flash[:errors].sub('|','<br />') %></div>
<% end %>
