%h4 Messages
#message
  %table
    %thead
      %tr
        %th{width: "400px"} Message Constraints
        %th{width: "200px"} Message Text

    %tbody
      - message.nondefault_messages.each do |fm|
        %tr
          %td.constrains
            - fm.tag_filter.constraints.each do |constraint|
              %li= constraint.to_readable
          %td.msg-text= fm.message_text
