%form{action: '/tags/create', method: 'post'}
  .field
    %label Type:
    %input{type: 'text', name: 'type'}
  .field
    %label Value:
    %input{type: 'text', name: 'value'}
  %button{type: 'submit'} Create