#voice-numbers
  %h2 Voice Numbers
  -if campaign.voice_numbers.empty?
    %h3 No voice number selected
  -else
    -campaign.voice_numbers.each do |voice_number|
      .assigned-number
      %h3=voice_number.pretty_phone_number
      .description= "Description: #{voice_number.description}"
      %h3=pluralize(campaign.ringers_from(voice_number).count, 'ringer')
      %form{action: "/campaign/#{campaign.id}/voice_numbers/#{voice_number.id}/destroy", method: 'delete'}
        %button{type: 'submit'} I'm done with this number
      %hr
