%h3 Send SMS Ask
%h4 Initial Cost Estimate
=haml :price_estimate, locals: {price_estimate: ask.initial_price_estimate(@campaign.ringers, @campaign.sms_number.raw_number)}

%div="#{ask.recipients.count} recipients"
=haml :message, locals: {message: ask.message}
