%h3 Request a text message
%h4 Initial Cost Estimate
=haml :price_estimate, locals: {price_estimate: ask.initial_price_estimate(@campaign.ringers, @campaign.sms_number.raw_number)}
="#{ask.respondents.count} recipients / #{ask.recipients.count} respondents"
-ask.texts.each do |t|
  %li= t.message