%h3 Voicemail Ask
="#{ask.respondents.count} recipients / #{ask.recipients.count} respondents"
=haml :message, locals: {message: ask.message}
%h4="Prompt: #{ask.prompt}"
%h4 Voicemails:
-ask.voicemails.each do |vm|
  %a{href: vm.filename}= vm.id
