%h3 Voicemail Ask
%h4 Initial Cost Estimate
=haml :price_estimate, locals: {price_estimate: ask.initial_price_estimate(@campaign.ringers, @campaign.sms_number.phone_number)}
="#{ask.respondents.count} recipients / #{ask.recipients.count} respondents"
=haml :message, locals: {message: ask.message}
%h4 Voicemails:
-ask.voicemails.each do |vm|
  %a{href: vm.filename}= vm.id
